.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal__content {
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.modal__content_type_image {
  background: white;
  padding: 0px;
  border-radius: 8px;
  max-width: 400px;
  opacity: 1;
}

.modal__close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.modal__label {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal__radio-buttons {
  flex-direction: column;
  border: none;
  gap: 8px;
  padding: 0;
  display: flex;
  font-size: 14px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal__label.modal__label_type_radio {
  display: flex;
}

.modal__input {
  display: block;
  flex-direction: column;
  padding: 8px 0;
  font-size: 14px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 100%;
  background-color: transparent;
  width: 100%;
}
.modal__legend {
  font-weight: 600;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
}
.modal__radio_input {
  accent-color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal__submit-btn {
  background-color: #000;
  opacity: 30%;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 132px;
  height: 36px;
  gap: 8px;
  border-radius: 4px;
  padding: 8px 16px;
}

.modal__secondary-btn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 124px;
  height: 36px;
  opacity: 1;
  gap: 8px;
  border-radius: 4px;
  padding: 8px 16px;
}
.modal__button-footer {
  display: flex;
}

.modal__submit-btn:hover {
  background-color: #333;
}
