.card {
  border-radius: 10px;
  border: 1px solid transparent;
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  background: #0000004d;
}

.card__image {
  height: auto;
  object-fit: contain;
}

.card__name {
  position: absolute;
  top: 5px;
  background-color: #fff;
  height: 24px;
  margin: 0;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  width: 72px;
}

.card__like-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 18px;
  border: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

.card__like-button:hover {
  transform: scale(1.1);
  background-image: url("../../assets/Like_hover.svg");
  background-repeat: no-repeat;
}

.card__like-button:hover img {
  display: none;
}
