.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.modal_opened {
  display: flex;
}

.modal__content_type_image {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 498px;
  height: 610px;
  angle: 0 deg;
  opacity: 1;
  top: 106px;
  position: absolute;
}

.modal__image {
  max-width: 100%;
  width: 498px;
  object-fit: contain;
}

.modal__footer {
  padding-top: 12px;
}

.modal__caption {
  width: 36px;
  height: 24;
  angle: 0 deg;
  opacity: 1;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal__weather {
  width: 115px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  top: 660px;
  left: 503px;
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
